<nav id="navBar">
  <div>
    <app-drawer></app-drawer>
    <img class="logo" src="http://www.leclerc.ca/sites/leclerc/images/histoire/images/section15.png" routerLink="/projects">
  </div>
  <div id="searchContainer">
    <i class="material-icons" id="searchIcon">search</i>
    <app-search></app-search>
  </div>
  <div class="language-accountContainer">
    <app-refresh></app-refresh>
    <span class="languageContainer">
      <mat-form-field style="width: 40px" floatPlaceholder="never">
        <mat-select class="languageOptions" placeholder="{{myLanguage}}" [(ngModel)]="myLanguage">
          <mat-option *ngFor="let lang of myLanguages" [value]=lang (click)="switchLang($event);">{{ lang }}</mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <span id="accountContainer">
      <i class="material-icons" id="account">account_circle</i>
    </span>
  </div>
</nav>
<router-outlet></router-outlet>
