<div class="card-container">
  <img class="tile__img" src="{{EmployeeImage}}">
  <div class="tile__details">
    <div class="tile__header">
      <!--<img class="project__owner__department" src="/assets/img/icon-dir/{{DepartmentId}}.png"
           onError="this.src='/assets/img/icon-dir/departmentUnknown.jpg';">-->
      <!--<b class="employee__work__charge">{{EmployeeCapacity.toFixed(2)}}%</b>-->
    </div>
    <div class="project__owner__info">
      <p class="participant-name">{{EmployeeName}}</p>
      <p class="participant-role">{{EmployeeRole}}</p>
    </div>
  </div>
</div>

