/*Data table css bootstrap style*/
@import '../../../../node_modules/@swimlane/ngx-datatable/release/assets/icons.css';
@import '../../../../node_modules/@swimlane/ngx-datatable/release/index.css';

.TaskTable{
  margin: 0 4%;
}

.clear-filter-button{
  cursor: pointer;
  display: none;
}

.show-clear-filter{
  display: inline-block;

}

.ngx-datatable.bootstrap {
  box-shadow: none;
  font-size: 14px;
  padding-bottom: 75px;
}
.ngx-datatable.bootstrap .datatable-header {
  height: unset !important;
  background-color: white;
  color: #000;
  font-size: 16px;
}
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
  vertical-align: bottom;
  padding: 0.75rem;
  border: 0px solid #d1d4d7;
}
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
  line-height: 24px;
}
.ngx-datatable.bootstrap .datatable-body {
  background-color: white;
  color: black;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
  padding: 0.40rem;
  vertical-align: top;
  border-top: 2px solid #d1d4d7;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
  background-color: rgba(255, 255, 255, 0.4);
}

/*.ngx-datatable.bootstrap .datatable-body .datatable-row-wrapper .datatable-body-row:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.4);
}*/

.ngx-datatable.bootstrap .datatable-body .datatable-row-wrapper{
  background-color: rgba(20, 131, 255, 0.4);
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  vertical-align: top;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
  background-color: #1483ff;
  color: #000000;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row:hover {
  background-color: #508cff;
}

.ngx-datatable.bootstrap .datatable-footer {
  background: #545454;
  color: #ededed;
  margin-top: -1px;
}
.ngx-datatable.bootstrap .datatable-footer .page-count {
  line-height: 50px;
  height: 50px;
  padding: 0 1.2rem;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager {
  margin: 0 10px;
  vertical-align: top;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li {
  margin: 10px 0px;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  background-color: #545454;
  font-weight: bold;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  height: 22px;
  min-width: 24px;
  line-height: 22px;
  padding: 0;
  border-radius: 3px;
  margin: 0 3px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  vertical-align: bottom;
  color: #000000;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-left,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-skip,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-right,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-prev {
  font-size: 18px;
  line-height: 27px;
  padding: 0 3px;
}
